USE [master]
GO
/****** Object:  Database [PracticaWinforms]    Script Date: 11/2/2022 1:30:02 AM ******/
CREATE DATABASE [PracticaWinforms]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PracticaWinforms', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PracticaWinforms.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PracticaWinforms_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PracticaWinforms_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PracticaWinforms].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PracticaWinforms]
GO
/****** Object:  Table [dbo].[Paintball]    Script Date: 11/2/2022 1:30:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paintball](
	[ID_Reserva] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Nombre_Reserva] [nvarchar](50) NOT NULL,
	[Fecha] [date] NOT NULL,
	[Num_Personas] [int] NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
